:root {
	--primary-green: #5e7153;
	--primary-orange: #c66828;
	--primary-brown: #783e19;
	--secondary-green: #a9b489;
	--secondary-yellow: #f9ecc9;
	--light: #fafafa;
	--dark: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: var(--light);
}

/* Nav */

.nav {
	position: absolute;
	right: 2rem;
	top: 2rem;
	width: 45%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-green);
	height: 5rem;
	padding: 0 2rem;
	border-radius: 1rem;
	opacity: 1;
	transition: all 0.3s;
}

.nav-links-container {
	width: 100%;
	display: flex;
	align-items: center;
}

.nav-links {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.nav-action-link {
	display: inline-block;
	text-decoration: none;
	color: var(--light);
	transition: all 0.3s;
	padding: 0.3rem;
	border-radius: 0.3rem;
}

.nav-action-link:hover {
	transform: translateY(-2px);
	background-color: #fafafa61;
}

.ft-action-link {
	background-color: var(--primary-orange);
	border-radius: 0.3rem;
	padding: 0.5rem;
	display: inline-block;
	text-decoration: none;
	color: var(--light);
	transition: all 0.3s;
}

.ft-action-link:hover {
	background-color: rgb(247, 147, 81);
	transform: translateY(-2px);
}

.header {
	height: 100vh;
	display: flex;
}

.header-left-container {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-green);
}

.header-left-content-container {
	width: 80%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
}

.header-left-content-container img {
	width: 50%;
	margin-bottom: 2rem;
}

.info-text {
	font-size: 1.5rem;
	color: var(--light);
	text-align: center;
	line-height: 1.5;
}

.header-right-container {
	width: 50%;
	height: 100%;
	background-image: url('../img/proteas_3_dark.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.scroll-to-top-button {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: var(--primary-orange);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	opacity: 0;
	cursor: pointer;
	z-index: 10;
}

.scroll-to-top-button:hover {
	transform: translateY(-2px);
}

.scroll-to-top-button i {
	color: var(--light);
	font-size: 2rem;
	transition: all 0.3s;
}

.show-scroll-to-top-button {
	opacity: 1;
}

/* How Section */

.how-section {
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	padding: 3rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.how-section-header {
	color: var(--primary-green);
	font-size: 3rem;
	margin-bottom: 5rem;
}

.card-container {
	width: 100%;
	height: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
}

.card {
	width: 50%;
	height: 100%;
	padding: 2rem;
	border-radius: 1rem;
	background-color: var(--primary-green);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s;
}

.card:hover {
	transform: translateY(-8px);
}

.card i {
	color: var(--light);
	font-size: 5rem;
	border: 2px solid var(--light);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 2rem;
}

.card-header {
	color: var(--light);
	font-size: 2rem;
	text-align: center;
	margin-bottom: 2rem;
}

.card-info-text {
	color: var(--light);
	font-size: 1.25rem;
	text-align: center;
	line-height: 1.5;
}

/* FAQ */

.faq-section {
	width: 100%;
	background-color: var(--primary-green);
	padding: 3rem 2rem;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
}

.faq-section-header {
	color: var(--light);
	font-size: 3rem;
	margin-bottom: 5rem;
}

.faq-info-text {
	width: 50%;
	text-align: center;
	color: var(--light);
	font-size: 1.25rem;
	margin-bottom: 5rem;
	line-height: 1.5;
}

.faq-container {
	width: 50%;
}

.faq-qa-container {
	cursor: pointer;
}

.faq-q-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--light);
	border-bottom: 1px solid var(--light);
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	font-weight: bold;
}

.faq-q-container i {
	font-weight: bold;
	font-size: 1.2rem;
	transition: all 0.3s;
}

.faq-a-container {
	display: none;
	color: var(--light);
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--primary-orange);
	font-weight: bold;
}

.faq-a-container {
	margin-bottom: 2rem;
}

.icon-rotate {
	transform: rotate(-180deg);
}

/* About */

.about-section {
	width: 100%;
	height: 100vh;
	background-color: var(--light);
	display: flex;
}

.about-left-container {
	width: 50%;
	height: 100%;
	background-color: var(--light);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-right-container {
	width: 50%;
	height: 100%;
	background-image: url('../img/proteas_4_dark.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.about-header {
	color: var(--primary-green);
	font-size: 3rem;
	margin-bottom: 3rem;
}

.about-info-text {
	color: var(--primary-green);
	font-size: 1.25rem;
	line-height: 1.5;
}

/* Contact */

.contact-section {
	width: 100%;
	background-color: var(--primary-green);
	padding: 3rem 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contact-section-header {
	color: var(--light);
	font-size: 3rem;
	margin-bottom: 5rem;
}

.contact-form {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.form-control {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.form-label {
	color: var(--light);
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.form-input {
	background-color: transparent;
	padding: 1rem 0.75rem;
	border-radius: 0.5rem;
	border: 1px solid var(--light);
	outline: none;
	caret-color: var(--light);
	font-size: 1.1rem;
	font-family: inherit;
	color: var(--light);
}

.form-row {
	display: flex;
	gap: 1rem;
}

.form-row .code-input {
	width: 30%;
}

.form-row .number-input {
	width: 70%;
}

.form-control textarea {
	resize: none;
}

.contact-form-actions-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.form-action-button {
	background-color: var(--primary-orange);
	padding: 0.75rem 1rem;
	border-radius: 0.3rem;
	border: none;
	color: var(--light);
	font-family: inherit;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s;
	width: 10rem;
}

.form-action-button:hover {
	background-color: rgb(247, 147, 81);
	transform: translateY(-2px);
}

/* CTA */

.cta-section {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 2rem;
	background-image: url('../img/proteas_1_dark.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cta-header {
	font-size: 5rem;
	margin-bottom: 2rem;
	color: var(--light);
	text-align: center;
}

.cta-info-text {
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 2rem;
	color: var(--light);
	text-align: center;
}

.cta-button {
	background-color: var(--primary-orange);
	padding: 0.75rem 1rem;
	border-radius: 0.3rem;
	border: none;
	color: var(--light);
	font-family: inherit;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s;
	width: 10rem;
}

.cta-button:hover {
	background-color: rgb(247, 147, 81);
	transform: translateY(-2px);
}

.footer {
	height: 30vh;
	width: 100%;
	background-color: var(--primary-green);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 2rem;
}

.footer-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.footer-socials-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.footer-socials-container i {
	font-size: 2rem;
	color: var(--light);
	cursor: pointer;
	transition: all 0.3s;
	margin-bottom: 1rem;
}

.footer-socials-container i:hover {
	color: var(--primary-orange);
}

.footer-bottom-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.copyright,
.copyright-year,
.built-by-text {
	color: var(--light);
	font-size: 1.1rem;
}

::-webkit-scrollbar {
	width: 0.3rem;
}

::-webkit-scrollbar-thumb {
	background: var(--primary-orange);
}

::-webkit-scrollbar-track {
	background: var(--light);
}

/* Media Queries */

/* 1200 */
@media only screen and (max-width: 75em) {
	.nav {
		top: 2rem;
		left: 2rem;
		right: 2rem;
		width: calc(100% - 4rem);
	}

	.header-right-container {
		display: none;
	}

	.header-left-container {
		width: 100%;
		background-image: url('../img/proteas_3_darker.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.ft-action-link {
		padding: 0.5rem;
	}

	.info-text {
		font-size: 1.25rem;
	}

	.header-left-content-container {
		width: 90%;
	}

	.card-container {
		flex-direction: column;
	}

	.card {
		width: 60%;
	}

	.how-section {
		height: 100%;
	}

	.about-section {
		padding: 0;
	}

	.about-right-container {
		display: none;
	}

	.about-left-container {
		width: 100%;
		border-radius: 0;
		background-image: url('../img/proteas_4_darker.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.about-header {
		color: var(--light);
	}

	.about-info-text {
		color: var(--light);
	}

	.cta-header {
		font-size: 4rem;
	}
}

/* 1024 */
@media only screen and (max-width: 64em) {
	.nav {
		top: 2rem;
		left: 2rem;
		right: 2rem;
		width: calc(100% - 4rem);
	}

	.header-right-container {
		display: none;
	}

	.header-left-container {
		width: 100%;
		background-image: url('../img/proteas_3_darker.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.ft-action-link {
		padding: 0.5rem;
	}

	.how-section-header,
	.faq-section-header,
	.contact-section-header {
		font-size: 2.5rem;
		margin-bottom: 3rem;
	}

	.faq-info-text {
		margin-bottom: 3rem;
		width: 60%;
	}

	.faq-container {
		width: 60%;
	}

	.card i {
		font-size: 3rem;
		margin-bottom: 1rem;
		padding: 0.5rem;
	}

	.card-header {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.about-header {
		font-size: 2.5rem;
	}

	.contact-form {
		width: 60%;
	}

	.cta-header {
		font-size: 3rem;
	}
}

/* 900 */
@media only screen and (max-width: 56.25em) {
	.header-left-content-container img {
		margin-bottom: 1rem;
	}

	.how-section-header,
	.faq-section-header,
	.contact-section-header {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	.card {
		width: 70%;
	}

	.card i {
		font-size: 2.5rem;
		margin-bottom: 1rem;
		padding: 0.5rem;
	}

	.card-info-text {
		font-size: 1rem;
		line-height: 1.25;
	}

	.faq-info-text {
		width: 70%;
		text-align: center;
		color: var(--light);
		font-size: 1rem;
		margin-bottom: 2rem;
		line-height: 1.25;
	}

	.faq-container {
		width: 70%;
	}

	.faq-a-container {
		text-align: center;
	}

	.about-header {
		font-size: 2rem;
	}

	.contact-form {
		width: 70%;
	}

	.form-control {
		margin-bottom: 1rem;
	}

	.cta-header {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	.cta-info-text {
		margin-bottom: 1rem;
	}
}

/* 800 */
@media only screen and (max-width: 50em) {
	.info-text,
	.about-info-text,
	.cta-info-text {
		line-height: 1.25;
		font-size: 1.1rem;
	}
}

/* 768 */
@media only screen and (max-width: 48em) {
	.card,
	.faq-info-text,
	.faq-container,
	.contact-form {
		width: 75%;
	}
}

/* 660 */
@media only screen and (max-width: 41.25em) {
	.nav-action-link,
	.ft-action-link {
		font-size: 1rem;
	}

	.card,
	.faq-info-text,
	.faq-container,
	.contact-form {
		width: 80%;
	}
}

/* 600 */
@media only screen and (max-width: 37.5em) {
	.header-left-content-container {
		width: 100%;
	}

	.header-left-container img {
		width: 65%;
	}

	.card,
	.faq-info-text,
	.faq-container,
	.contact-form {
		width: 85%;
	}

	.how-section-header,
	.faq-section-header,
	.faq-info-text {
		margin-bottom: 1.5rem;
	}

	.about-header {
		margin-bottom: 2rem;
	}
}

/* 500 */
@media only screen and (max-width: 31.25em) {
	.nav-action-link,
	.ft-action-link {
		font-size: 0.8rem;
	}

	.card,
	.faq-info-text,
	.faq-container,
	.contact-form {
		width: 100%;
	}

	.form-label {
		font-size: 0.9rem;
	}

	.form-input {
		font-size: 1rem;
	}

	.faq-q-container,
	.faq-a-container {
		font-size: 0.9rem;
	}
}

/* 400 */
@media only screen and (max-width: 25em) {
}

/* 360 */
@media only screen and (max-width: 22.5em) {
}
